@media (max-width: 1400px) {
    .header {
        padding: 10rem 2rem;
    }

    h1 {
        font-size: 4rem;
    }
}

@media (max-width: 1100px) {

    h1 {
        font-size: 3rem;
    }

    #backdrop {
        /* display: none; */
        background-color: black;
        position: fixed;
        /* margin-top: -10px; */
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: .3;
        left: 0;
        transition: .3s;
    }

    .toggle {
        display: block;
        padding-right: 15px;
    }

    .mobile-menu {
        display: none;
        background-color: var(--dark);
        height: 100%;
        width: 80%;
        max-width: 300px;
        margin-top: var(--nav);
        z-index: 1;
    }

    .menu {
        position: fixed;
        z-index: 5;
        background-color: white;
        height: 100%;
        width: 80%;
        max-width: 300px;
        margin: 0;
        padding-left: 10px;
    }

    .menu li {
        display: block;
        margin-left: 25px;
    }

    .dropdown-content {
        display: block;
        position: relative;
        margin-left: 10px;
        margin-bottom: -10px;
        /* margin-top: 0px; */
        /* z-index: 0; */
    }

    .dropdown-content a {
        color: var(--bg);
        padding: 10px;
    }

    .outline {
        display: inline-block;
        padding: 0px;
        margin-top: 10px;
        margin-left: 25px;
    }

    .outline li {
        margin-left: 0;
    }

    .visibility {
        display: block;
    }

    .header {
        padding: 5rem 1rem;
        z-index: 0;
    }

    .pic-col {
        /* display: block; */
        flex-direction: column;
    }

    .pic-col-img {
        padding-bottom: 1.5rem;
        /* text-align: center; */
    }

    .pic-col-img-rev {
        flex-direction: column-reverse;
        padding-top: 3rem;
    }

    .left-space {
        padding-left: 0;
    }

    .grid-col {
        grid-template-columns: 1fr 1fr;
        /* max-width: 300px; */
        /* margin: auto; */
    }

    .pg-break {
        height: 10rem;
    }

    .grid-col-four {
        grid-template-columns: 1fr 1fr;
        /* max-width: 300px; */
        margin: auto;
    }
}

@media (max-width: 800px) {
    
    .width-100 {
        width: 100%;
    }

    .right-space {
        padding-right: 0;
    }

    .flex-footer {
        flex-direction: column;
    }

    .footer-links {
        padding-top: var(--small-space);
    }
}

@media (max-width: 570px) {

    .header-sub h2 {
        font-size: 2rem;
      }

    .logo-img {
        display: none;
    }

    .logo-mobile {
        display: block;
    }

    .width-100-2 {
        width: 100%;
    }

    .header-sub {
        flex-direction: column;
    }

    .spacing-all {
        padding: var(--small-space);
    }

    /* .white-hr {
        margin: 10px 0px;
    } */

    .grid-col {
        grid-template-columns: 1fr;
        max-width: 300px;
        margin: auto;
    }

    .grid-col-four {
        grid-template-columns: 1fr;
        /* max-width: 300px; */
        margin: auto;
    }

    footer {
        flex-direction: column;
        text-align: center;
        font-size: .8rem;
        line-height: 1.5;
    }
}